.progress-bar {
  background-color: #14ffec;
  color: #14ffec;
  filter: drop-shadow(2px 2px 5px #0d7377);
  transform: scaleX(-1);
}
.skill-icon {
  font-size: 36px;
  @media (max-width: "900px") {
    font-size: 26px;
  }
}
